name: Monthly Report
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
      - name: Fetch Issues
        run: |
          gh api \
            repos/gaurav-webbrain/Trello-Test/issues \
            --paginate > issues.json
      - name: Generate CSV
        run: |
          echo "Issue,Title,Start,Stop,Hours" > report.csv
          jq -r '
          def parse_datetime:
            sub("Z$"; "+00:00") | fromdateiso8601;
          
          .[] | 
          select(.body != null) |
          select(.body | contains("Start:")) |
          select(.body | contains("Stop:")) |
          {
            number: .number,
            title: .title,
            start: (.body | split("Start: ")[1] | split("\n")[0] | split(" # ")[0] | ltrimstr(" ") | rtrimstr(" ")),
            stop: (.body | split("Stop: ")[1] | split("\n")[0] | split(" # ")[0] | ltrimstr(" ") | rtrimstr(" "))
          } |
          "\(.number),\"\(.title)\",\(.start),\(.stop),\(((.stop | parse_datetime) - (.start | parse_datetime)) / 3600)"
          ' issues.json >> report.csv
      - name: Upload CSV
        uses: actions/upload-artifact@v4
        with:
          name: monthly-report
          path: report.csv
