name: monthly_report

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get install jq -y

      - name: Fetch issues
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh api repos/${{ github.repository }}/issues \
            --jq '.' > issues.json

      - name: Create jq parser file
        run: |
          cat > parser.jq <<'EOF'
            .[] as $i
            | ($i.body | match("Start: ([0-9A-Za-z:+\\- ]+)"))? as $mstart
            | ($i.body | match("Stop: ([0-9A-Za-z:+\\- ]+)"))? as $mstop
            | if ($mstart and $mstop) then
                $i.number as $n |
                $i.title as $t |
                $mstart.captures[0].string as $start |
                $mstop.captures[0].string as $stop |
                (
                  (($stop | fromdate) - ($start | fromdate)) / 3600
                ) as $hours |
                "\($n),\"\($t)\",\($start),\($stop),\($hours)"
              else empty end
          EOF

      - name: Generate CSV
        run: |
          echo "Issue,Title,Start,Stop,Hours" > report.csv
          jq -r -f parser.jq issues.json >> report.csv

      - name: Upload CSV
        uses: actions/upload-artifact@v4
        with:
          name: monthly-report
          path: report.csv
